# Copier en .env et remplir les valeurs
# Base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=drive_secure
DB_USER=postgres
DB_PASSWORD=

# JWT (en production : longue clé aléatoire)
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Serveur
PORT=3000
NODE_ENV=development

# Dossier des uploads
UPLOAD_PATH=./uploads
